---
import Blog from './icons/Blog.astro'
import Github from './icons/Github.astro'
import Twitter from './icons/Twitter.astro'

const components = {
  github: Github,
  twitter: Twitter,
  blog: Blog,
} as const

type Props = {
  kind: keyof typeof components
  href: string | undefined
  size?: number
  class?: string
}

const { kind, href, size = 8, class: className } = Astro.props
const Icon = components[kind]

const iconClass = [
  'fill-current',
  'text-gray-700 hover:text-primary-500',
  'dark:text-gray-200 dark:hover:text-primary-400',
  `h-${size} w-${size}`,
  className,
]
  .filter(Boolean)
  .join(' ')
---

<a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank" rel="noopener noreferrer" href={href}>
  <span class="sr-only">{kind}</span>
  <Icon class={iconClass} />
</a>
